html
{
	/* Root document */
	min-width: 300px;
}

main
{
	/* Main container */
	max-width: 400px;
}

h1
{
	/* Page main title */
	color: red;
}

video
{
	/* Background video */
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.15;
}

nav.dropdown
{
	/* Language selector */
	top: 1rem;
	left: 1rem;
	width: auto;
	position: absolute;
}

nav.dropdown li
{
	/* Selection pointer */
	cursor: pointer;
}